
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/dyte.css" />
    <title>Dyte Example App</title>
  </head>
  <body>
    <div id="root">
        <input type="button" onclick="location.href='/student';" value="Student login" />
        <input type="button" onclick="location.href='/teacher';" value="Teacher Login" />
    </div>
  </body>
</html>